*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.calculator{
    width: 450px;
    height: 550px;
    background: #b1b1b1;
    border-right: 7px solid black;
    border-bottom: 7px solid black;
    border-radius: 30px;
    padding: 13px;
    margin-left: 33%;
    margin-top: 2%;
}

.calculator #display{
    width: 100%;
    font-size: 50px;
    padding: 10px;
    text-align: right;
    border-radius: 12px;

}

.calculator .key{
    gap: 25px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-around;
}

.key .btn{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 2px;
    font-size: 40px;
    font-weight: 600;
    background: #daf1c1;
}

.key .btn:hover{
    background: #f3bf94;
}